@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');
html {  
	box-sizing: border-box;   
	font-size: 62.5%;
}
*, *::before, *::after {  
	box-sizing: inherit;
	text-decoration: none;
	margin: 0;  
	padding: 0;
}

.blog{
    margin-top: 200px;
    margin:auto;
}

img{
    width:10px;
    height:10px;
}
.head{
    display: flex;
    justify-content: space-around;
}


.subscribe{
    color: gray;
}

.content{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 2px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    border: 4px gray;
}

.world{
    font-family: Indian Type Foundry;
    color:darkturquoise;

}
.article_title{
}
.design{
    font-family: Indian Type Foundry;
    color:chartreuse;
}

.date{
    color: gray;
}

.continue_reading{
    margin-top: 40px;
}

.footer{
    background-color: rgb(246, 243, 243);
    height:100px;
    justify-content: center;
    width: 650px;
    margin:auto;
    text-align: center;
    padding-top: 60px;
}
